

:root {

   
    --color-primary: #4B3F72;      
    --color-secondary: #F2C14E;    
    --color-background: #EAEAF6;   
    
   
    --color-text: #2E2E3A;         
    --color-text-dim: #6C6F85;    

}