:root {
  /* los fondos*/
  --bg-dark: #0f1220;

  --bg-glow: radial-gradient(circle at 30% 20%, rgba(255, 183, 77, 0.25), transparent 40%),
    radial-gradient( circle at 80% 70%, rgba(186, 104, 200, 0.2), transparent 40%),
    linear-gradient(180deg, #0f1220, #1a1f3a);

    /* los texts*/
  --text-principal:#ffffff ;

  --text-suave: rgba(255,255 ,255 ,0.75) ;

  --text-suave-2: rgba(255, 244, 235, 0.81) ;

  --text-suave-3: rgba(235, 255, 253, 0.81) ;

  --realce-gold: #ffce7a ;

  --realce-pink:#ff80df ;

  --borde-soft: rgba(255, 255, 255, 0.196);
  
  --shadow-brillo: 0 0 30px rgba(255, 226, 122, 0.25);

  --radius: 20px;
}