body {
  margin:0;
  padding: 40px 20px ;
  font-family: "Segoe UI", serif;

  background: var(--bg-glow ) ;
  color: var(--text-principal) ;
  text-align: center;
}


h1 {
  font-size: 53px;
  letter-spacing: 4px;
  margin-bottom: 10px;
  
  text-shadow: 0 0 25px rgba(255,206,122,0.6);
}

h3 {
  margin-top : 20px ;
  font-weight: 510 ;
}


h2 {
  font-weight: 400;
  color: var( --text-suave );
  margin-bottom:  24px ;
}



img {
  border-radius: var(--radius );
  border: 2px solid var( --borde-soft );
  box-shadow: var(--shadow-brillo) ;
  transition: transform  0.4s  , box-shadow 0.5s ease;
}

img:hover {
  transform: scale(1.05 ) ;
   box-shadow: 0 0 45px rgba(255,206 ,122 ,0.6) ;
}


hr {
  border: none;
  height: 1.5px;
  background: var(--borde-soft) ;
  margin: 30px auto ;
  width: 78% ;
}


section {
  background: rgba(255, 255, 255, 0.05);
  padding: 25px ;
  margin: 30px auto ;
  width: 80% ;
  border-radius: var(--radius );
  border: 0.5px solid var(--borde-soft );
  box-shadow: 0 15px 40px rgba(0, 0,0,0.5) ;
} 



a {
  padding: 16px 26px;
  margin-top: 16px ;
  background: linear-gradient(40deg, var(--realce-gold ) , var(--realce-pink));
  
  color: #131300;
  font-weight: bold;

  border-radius: 1000px;
  transition: all 0.2s ease;

  box-shadow: 0 0 15px rgba(255,206,122,0.5);
  text-decoration: none;
  display: inline-block;

}

a:hover {
  transform: scale(1.08);
  box-shadow: 0 0 35px rgba(255,128,223,0.8);
}


ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 20px;
  padding: 0;
}


footer {
  margin-top: 40px;
  color: rgba(255,255,255,0.6);
  font-size: 16px;
}


button {
    padding: 15px 22px;
    border-radius: 1000px;
    border: none;

    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 18px;
}

.btn-gold {
    background: linear-gradient(45deg, #ffce7a, #ffb347);
    color: #000;
    box-shadow: 0 0 10px rgba(255, 206, 122, 0.6);
}

.btn-gold:hover {
    transform: scale(1.1);
    box-shadow: 0 0 35px rgba(255, 206, 122, 0.9);
}

.btn-azulito {
    background: linear-gradient(45deg, #63f6ff, #4facfe);
    color: #000;
    box-shadow: 0 0 10px rgba(99, 246, 255, 0.6);
}

.btn-azulito:hover {
    transform: scale(1.1);
    box-shadow: 0 0 35px rgba(99, 246, 255, 0.9);
}

.btn-danger {
    background: linear-gradient(45deg, #ff6b6b, #ff0000);
    color: white;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
}

.btn-danger:hover {
    transform: scale(1.1);
    box-shadow: 0 0 35px rgba(255, 0, 0, 0.9);
}

.btn-gold {
    background: linear-gradient(45deg, #ffce7a, #ffb347);
    color: #000;
    box-shadow: 0 0 10px rgba(255, 206, 122, 0.6);
}

.btn-regresar {
  background: radial-gradient(circle, rgba(222, 216, 220, 0.25), transparent 40%);
  color:#000;
  font: bold;
  padding: none;
  font-size: 20px;

}